<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pack Your Bags</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <footer>

    </footer>
</body>

</html>