<div class="container">
    <div class="row">
        <div class="form-signin col-4">
            <form class="sign-in-form p-3">
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="location" placeholder="LOCATION">
                    <label class="sign-in-label" for="floatingInput">Location</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="startDate" placeholder="START DATE">
                    <label class="sign-in-label" for="floatingInput">Start Date</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="endDate" placeholder="END DATE">
                    <label class="sign-in-label" for="floatingInput">End Date</label>
                </div>
                <button id="add-button" class="w-100 btn btn-lg bg-secondary" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/addTrip.js"></script>