<div class="sign-in-form-container container">
    <div class="row">
        <div class="col-4">
            <img id="login-logo" src="/images/PYB-logo-white.png" alt="Pack Your Bags logo">
        </div>
        <div class="form-signin col-4">
            <form class="sign-in-form p-3">
                <div class="form-floating m-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="USERNAME">
                    <label class="sign-in-label" for="floatingInput">USERNAME</label>
                </div>
                <div class="form-floating m-1">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="PASSWORD">
                    <label class="sign-in-label" for="floatingPassword">PASSWORD</label>
                </div>
                <a href="/signup" id="create-account-link" class="float-end">CREATE AN ACCOUNT</a>
                <button id="sign-in-button" class="w-100 btn btn-lg bg-secondary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>