body {
  background-image: url("/images/ian-dooley-3NCA3tbaE5I-unsplash.jpg");
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* Set the background color to gray for the input */
  background-color: 	rgb(108, 117, 125);
  /* color for the text */
  color: white; 
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* Set the background color to gray for the input */
  background-color: 	rgb(108, 117, 125);
  /* color for the text */
  color: white; 
}

.sign-in-label {
  color: white;
}

.sign-in-form {
  /* Set background to off white with an opcaity of 0.5 */
  background-color:rgba(250, 249, 246, 0.5);
}

#sign-in-button, #sign-up-button {
  color: white;
}

#create-account-link {
  text-decoration: none;
  color: 	rgb(108, 117, 125);
}

#login-logo {
  max-width: 500px;
}